<h1>Login Page</h1>

<form action="<%= session_url %>" method="post">
    <label for="user_email">Email:</label>
    <input type="text" id="user_email" name="user[email]">
    <br>
    
    <label for="user_password" name="password">Password:</label>
    <input type="password" name="user[password]">
    <br>

    <input type="submit" value="Log In">
    <% if flash.now[:errors] %>
        <% flash.now[:errors].each do |error| %>
            <%= error %>    
        <% end %>
    <% end %>
        
    
</form>