<h2><%= @band.name %></h2>

    <% @band.albums.each do |album| %>
        <form action="<%= album_url(album) %>" method="get">
            <input type="submit" value="<%= album.title %> Album">
        </form>    
    <% end %>
    

  <h3>Links</h3>

  <form action="<%= new_band_album_url(@band) %>" method="get">
    <input type="submit" value="Add/Create New Album">
  </form>